    <div class="ae-grid au-pt-2">
      <div class="ae-grid__item item-lg-8 item-lg--offset-2">
        <h4 class="ae-u-bolder">Un gusto diferente</h4>
        <div class="p-3">
            <img class="marcapie" src="src\assets\img\logo bon gusto.svg logo bon gusto.svg" alt="Logo bon gusto">
        </div>
        <p>Con mas de 15 años en el mercado nacional </p>
      </div>
    </div>
    <div class="ae-grid ae-grid--alt au-xs-ptp-1">
      <div class="ae-grid__item--alt item-lg-4">
        <h6 class="ae-u-boldest">MISION</h6>
        <p class="au-lh-3">
            Somos una marca Boliviana que produce y comercializa embutidos y productos cárnicos, realizados con responsabilidad, calidad, innovación y un gran sabor que satisfacen las necesidades de nuestros clientes, cuidando su salud y bienestar, bajo normas y estándares de seguridad alimentaria. Contamos con un equipo humano competente y capaz con sólidos principios éticos comprometidos con la empresa y orientado al servicio de sus consumidores.
        </p>
      </div>
      <div class="ae-grid__item--alt item-lg-4">
        <h6 class="ae-u-boldest">HISTORIA</h6>
        <p class="au-lh-3">
            Bon gusto nace como una iniciativa familiar fundada por el Sr. Alejandro Quisbert y la Sra. Esperanza Burgoa en el año 2003, comenzando con la producción de chorizo parrillero, tocino ahumado y jamón, esto gracias a los conocimientos en embutidos por parte de los fundadores y distribuyendo estos productos inicialmente en el departamento de La Paz y posteriormente en el mercado nacional.
            <br>
            La constante superación y búsqueda un sabor único y diferente es lo que permite el crecimiento de la empresa, brindando a sus clientes una gran variedad de productos manteniendo la calidad una gama de productos diversificados.
        </p>
      </div>
      <div class="ae-grid__item--alt item-lg-4">
        <h6 class="ae-u-boldest">VISION</h6>
        <p class="au-lh-3">Ofrecer el mejor sabor de una amplia gama de productos alimenticios.</p>

      </div>
    </div>
    <p class="au-flex au-pt-4 group-buttons"><a href="portfolio.html" class="au-mt-4 arrow-button arrow-button--right arrow-button--out">Ver productos<span class="arrow-cont">
          <svg>
            <use xlink:href="assets/img/symbols.svg#arrow"></use>
          </svg></span></a></p>
